<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>


  <%- include("partials/header") %>


  <div class="items">
    <% for(let product of products) { %>
      <div class="container-1">
        <div class="p1">
          Availability:<%= product.sold %>
            <header>
              <img src="<%= product.url %>">
            </header>
            <footer>
              <div>
                <%= product.name %> $<%= product.price %>
              </div>
              <form method=form method="POST" action='/products/marksold/<%= product.id %>'>
                <button>Mark Sold</button>
              </form>

              <form >
                <button><a href="/products/admin/add/product">Post</a></button>
              </form>

              <form method="post" action='/products/delete/<%= product.id %>'>
                <button type="send" class="btn btn-outline-primary">delete</button>
              </form>

            </footer>
        </div>
      </div>
      <% } %>

    </div>
</body>

</html>
