<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../styles/product.css">
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/admin.css" type="text/css" />

  <title>Product</title>
 </head>

  <body>
    <% include('partials/header') %>
    <header><b><h1><%-product.name %></h1></b></header>
    <form method="POST" action="/products/checkout/<%-product.id %>">
        <div><%-user.username %></div>
        <div><%-user.mobile %></div>
        <div><%-user.country %></div>
        <div><%-user.province %></div>
        <div><%-user.city %></div>
        <div><%-user.street %></div>
        <div><%-user.postal %></div>
        <button type="send" class="btn btn-outline-primary">Deliver And Cash</button>
    </form>


    <div class="main-content" >
      <div class="container-1">
        <img src="<%= product.url %>">
      </div>
      <section class="container-right">
        <p class="container-2">
          Name: <%-product.name %><br>
          Price: <%-product.price %>
        </p>

        <p class="container-3">
          Desciption: <%-product.description %>
        </p>
      </section>
    </div>
  </body>
</html>



