<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/styles/checkout.css">

  <title>Checkout</title>
 </head>

  <body>
    <%- include("partials/header") %>

    <div class="main-content" >
      <div class="container-1">
        <img src="<%= product.url %>">
      </div>
      <section class="container-right">
        <p class="container-2">
          Name: <%-product.name %><br>
          Price: <%-product.price %>
        </p>

        <p class="container-3">
          Desciption: <%-product.description %>
        </p>
      </section>
    </div>

    <div class="checkout-content">
      <header><h3> <div>Deliver To:<%-user.name %></div></h3></header>
      <form method="POST" action="/products/checkout/<%-product.id %>">

          <div>Moble number:<%-user.mobile %></div>
          <div>Street:<%-user.street %></div>
          <div>City:<%-user.city %></div>
          <div>Province:<%-user.province %></div>
          <div>Country:<%-user.country %></div>
          <div>Postal:<%-user.postal %></div>
          <div><input type="radio" name="sex" value="Deliver and Pay Cash" checked>Deliver and Pay By Cash<br></div>
          <button type="send" class="btn btn-outline-primary">Place Order</button>
      </form>
    </div>
  </body>
</html>



