<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../styles/orders.css">
  <link rel="stylesheet" href="../styles/header.css">

  <title>Orders</title>
</head>

<body>
  <header><b>
      <h1>Order Items</h1>
    </b></header>
  <% if (user) { %>
    <tbody>
      <% for(let product in products) { %>
        <div class="main-content">
          <div class="container-1">
            <img src=<%-product.url %>
          </div>
          <section class="container-right">
            <p class="container-2">
              Name: <%-product.name %><br>

                Price: <%-product.price %>
            </p>

            <p class="container-3">
              Desciption: <%-product.description %>
            </p>
            <form method="POST" action="/wishlist/add_product/<%-product.id %>">
              <button type="submit">
                Add
              </button>
            </form>
            <td>
              <form method="POST" action="/wishlist/delete_product/:id">
                <button type="Submit" class="btn btn-outline-danger">Delete</button>
              </form>
            </td>
          </section>
          <% } %>
    </tbody>
    <% } %>
</body>

</html>
