<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/styles/orderlist.css">

  <title>Orders</title>

</head>

<body>
  <%- include("partials/header") %>
  <header>
      <h1>My Order</h1>
  </header>
  <div class=products>

    <tbody>
      <% for( const product of products) { %>
        <div class="main-content">
          <div class="container-1">
            <img src="<%= product.url %>">
          </div>
          <section class="container-right">
            <h3><%=product.name %></h3>
            <div> Price:<b>$ <%=product.price %> </b></div>
            <div>Buyer:<b><%=user.name %> </b></div>
            <div>Description: <p><%=product.description %> </p></div>
          </section>
        </div>
        <% } %>
    </tbody>

  </div>

</body>

</html>
