<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
<body>


<%- include("partials/header") %>
<% for(let product of products) { %>

<div class="filter">
            <form method="POST" action='/products/filter'>
              <div>minPrice</div>
              <input type="text" id="minPrice" name="minPrice"><br>
              <div>maxPrice</div>
              <input type="text" id="maxPrice" name="maxPrice">
              <button type="send" class="btn btn-outline-primary">Send</button>
            </form>

    </div>
    <% } %>
<div  class="container-1">
  <!-- break -->
<div class="p1">
  Availability:<%= products[0].sold %>
<header>
 <img src="<%= products[0].url %>">
 <p> <%= products[0].url %> </p>
</header>
<footer>
  <div><%= products[0].name %>  $<%= products[0].price %></div>
  <i class="fas fa-heart"></i>
  <i class="fas fa-cart-plus"></i>
</footer>
</div>
 <!-- break -->
<div class ="p2">
  <header>

  </header>
  <footer>
    <div><%= products[1].name %> $<%= products[1].price %></div>
    <i class="fas fa-heart"></i>
    <i class="fas fa-cart-plus"></i>
  </footer>
</div>
 <!-- break -->
<div class ="p3">

  <header>

  </header>
  <footer>
    <div><%= products[2].name %> $<%= products[2].price %></div>
    <i class="fas fa-heart"></i>
    <i class="fas fa-cart-plus"></i>
  </footer>
</div>
</div>

<!-- container2 -->

<div  class="container-2">
  <!-- break -->
<div class="p4">
<header>

</header>
<footer>
  <div><%= products[3].name %> $<%= products[3].price %> </div>
  <i class="fas fa-heart"></i>
  <i class="fas fa-cart-plus"></i>
</footer>
</div>
 <!-- break -->
<div class ="p5">
  <header>

  </header>
  <footer>
    <div><%= products[4].name %> $<%= products[4].price %></div>
    <i class="fas fa-heart"></i>
    <i class="fas fa-cart-plus"></i>
  </footer>
</div>
 <!-- break -->
<div class ="p6">

  <header>

  </header>
  <footer>
    <div><%= products[5].name %> $<%= products[5].price %></div>
    <i class="fas fa-heart"></i>
    <i class="fas fa-cart-plus"></i>
  </footer>
</div>
</div>

<!-- container3 -->

<div  class="container-3">
  <!-- break -->
<div class="p7">
<header>

</header>
<footer>
  <div><%= products[6].name %> $<%= products[6].price %></div>
  <i class="fas fa-heart"></i>
  <i class="fas fa-cart-plus"></i>
</footer>
</div>
 <!-- break -->
<div class ="p8">
  <header>

  </header>
  <footer>
    <div><%= products[7].name %> $<%= products[7].price %></div>
    <i class="fas fa-heart"></i>
    <i class="fas fa-cart-plus"></i>
  </footer>
</div>
 <!-- break -->
<div class ="p9">

  <header>

  </header>
  <footer>

    <i class="fas fa-heart"></i>
    <i class="fas fa-cart-plus"></i>
  </footer>
</div>
</div>

</body>

</html>
