<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Products</title>
</head>

<body>
  <%- include('partials/_header') %>
<p className="lead">Products</p>
<div class="container">
    <div class="row">
    <% products.forEach(function(product){ %>
        <div class="col">
            <div class="card" style="margin-bottom: 2em;">
                <img src="<%= product['imageUrl'] %>" class="card-img-top" alt="photo of <%= product['name'] %>">
                <div class="card-body">
                    <h5 class="card-title"><%= product["name"] %></h5>
                    <p class="card-text"><%= product["description"] %></p>
                    <form action="/products/orders" method="POST">
                        <input type="hidden" name="productId" value="<%= product['id'] %>">
                        <input type="hidden" name="productName" value="<%= product['name'] %>">
                        <input type="hidden" name="productPrice" value="<%= product['price'] %>">
                        <button class="btn btn-primary">Order Now!</button>
                    </form>
                </div>
            </div>
        </div>
    <% }) %>
    </div>
</div>
