<!DOCTYPE html>
<html lang="en">

<head>
  <title>Fetch using PSQL, Express and Node.js</title>
</head>

<body>

  <body>


    <%- include("partials/header") %>
      <div class="filter">
        <form method="POST" action='/products/filter'>
          <div>minPrice</div>
          <input type="text" id="minPrice" name="minPrice"><br>
          <div>maxPrice</div>
          <input type="text" id="maxPrice" name="maxPrice">
          <button type="send" class="btn btn-outline-primary">Send</button>
        </form>

      </div>

      <div class="container-1">
        <!-- break -->
        <% for(let product of products) { %>
          <div>
            <%= product.id %>
          </div>
          <div>
            <%= product.name %>
          </div>
          <header>
            <img src="<%= products.url %>">
            <p>
              <%= products.url %>
            </p>
          </header>
          <footer>
            <div>
              <%= products.name %> $<%= products.price %>
            </div>
            <i class="fas fa-heart"></i>
            <i class="fas fa-cart-plus"></i>
          </footer>
          <% } %>
            <div class="p1">
              Availability:<%= products.sold %>

            </div>
            <!-- break -->
            <div class="p2">
              <header>

              </header>
              <footer>
                <div>
                  <%= products.name %> $<%= products.price %>
                </div>
                <i class="fas fa-heart"></i>
                <i class="fas fa-cart-plus"></i>
              </footer>
            </div>
            <!-- break -->
            <div class="p3">

              <header>

              </header>
              <footer>
                <div>
                  <%= products.name %> $<%= products.price %>
                </div>
                <i class="fas fa-heart"></i>
                <i class="fas fa-cart-plus"></i>
              </footer>
            </div>
      </div>




  </body>
</body>

</html>
