<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/styles/wish_items.css">


  <title>Wish List</title>
</head>

<body>
  <%- include("partials/header") %>
  <header>
      <h1>Wish List</h1>
  </header>
  <div class=products>

    <tbody>
      <% for(product of products) { %>
        <div class="main-content">
          <div class="container-1">
            <img src="<%= product.url %>">
          </div>
          <section class="container-right">
            <h3><%=product.name %></h3>
            <div> Price:<b>$ <%=product.price %> </b></div>
            <div>Description: <p><%=product.description %> </p></div>
              <form >

                <a href="/products/checkout/<%= product.id %>">Buy Now</a>
              </form>

          </section>
        </div>
        <% } %>
    </tbody>

  </div>

</body>

</html>
