<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="/styles/wish_items.css">
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />

  <title>Wish List</title>
</head>

<body>
  <%- include("partials/header") %>
  <header><b>
      <h1>My Wish List</h1>
    </b></header>
  <div class=products>

    <tbody>
      <% for(product of products) { %>
        <div class="main-content">
          <div class="container-1">
            <img src="<%= product.url %>">
          </div>

          <section class="container-right">

              <div >
                <%=product.name %><br>
                <%=product.price %><br>
              </div>

              <div >
                <%=product.description %><br>
              </div>


              <form >

                <a href="/products/checkout/<%= product.id %>">Buy Now</a>
              </form>

          </section>
        </div>
        <% } %>
    </tbody>

  </div>

</body>

</html>
